<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" ng-click="VInicio2()">
					<img style="padding-top:6px;max-width:300px;" 
						 src="img2/logo.png" 
						 alt="logo"
						 ng-click="VInicio()">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<div>
					<ul class="nav navbar-nav navbar-right lista headerNavBar">
                        <li>
        					<a ng-click="VForos()">
                                Foros
                            </a>
        				</li>
                        <li>
							<a ng-click="VPrincipal()">
								Páginas
							</a>
						</li>
						<li>
							<a ng-click="verContactos(idUsuario)" ng-show='idUsuario'>
								Contactos
							</a>
						</li>
						<li>
							<a ng-click="VLogin()" ng-show='!idUsuario'>
								Iniciar sesión
							</a>
						</li>
						<li> 
							<a ng-click="VRegistro()" ng-show='!idUsuario'>Registrarse</a>
						</li>
						<li ng-show="idUsuario" id="user">
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<span ng-bind="idUsuario">
									</span>
									<i class="icon-chevron-down">
									</i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a style="color:#3B3F44" ng-click="VMiPagina(idUsuario)">
											Perfil
										</a>
									</li>
									<li>
										<a style="color:#3B3F44" ng-click="ASalir(idUsuario)">
											Cerrar sesión
										</a>
									</li>
								</ul>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</header>

<section id="features" class="container">
	<div class="row row-centered">
		<div class="col-md-4 col-sm-6">
			<div class="media">
				<div class="pull-left logo-features">
					<i class="icon-group icon-md icon-color"></i>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="media">
				<div class="pull-left logo-features">
					<i class="icon-comments icon-md icon-color"></i>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="media">
				<div class="pull-left logo-features">
					<i class="icon-file-text icon-md icon-color"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-centered ">
		<div class="col-md-4 col-sm-6">
			<div class="media-body">
				<h3 class="media-heading">Haz nuevas amistades</h3>
				<p>Regístrate o accede a tu cuenta para encontrar nuevos amigos.</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="media-body">
				<h3 class="media-heading">Chatea</h3>
				<p>Comunicate con tus amigos y con los miembros de los grupos a los que perteneces.</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="media-body">
				<h3 class="media-heading">Participa en foros</h3>
				<p>Crea foros, postea tus opiniones y descubre temas de tu interes.</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div id="contenidos" class="container">
		<div class="center-column row">
			<div>
				<div id="cloud-color"class="portfolio-item">
					<div id="social-cloud" class="item-inner">
						<img id="cloud" src="img2/social.gif">
					</div>
				</div>
			</div>                            
		</div>
	</div>
</section>

<section id="recent-works">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>Agrega contenido social a tu pagina</h3>
				<p>Estos son algunos de los sitios web a los cuales hemos agregado social content.</p>
				<div class="btn-group">
					<a class="btn btn-danger" href="#scroller" data-slide="prev">
						<i class="icon-angle-left"></i>
					</a>
					<a class="btn btn-danger" href="#scroller" data-slide="next">
						<i class="icon-angle-right"></i>
					</a>
				</div>
				<p class="gap"></p>
			</div>
			<div class="col-md-9">
				<div id="scroller" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-xs-4">
									<div class="portfolio-item">
										<div class="item-inner">
										<img class="img-responsive" src="img2/portfolio/recent/item1.png" alt="">
										<h5>
											Nova - Corporate site
										</h5>
											<div class="overlay">
												<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
											</div>
										</div>
									</div>
								</div>                            
									<div class="col-xs-4">
										<div class="portfolio-item">
											<div class="item-inner">
												<img class="img-responsive" src="img2/portfolio/recent/item3.png" alt="">
												<h5>
													Fornax - Apps site
												</h5>
												<div class="overlay">
													<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
												</div>
											</div>
										</div>
									</div>                            
								<div class="col-xs-4">
									<div class="portfolio-item">
										<div class="item-inner">
											<img class="img-responsive" src="img2/portfolio/recent/item2.png" alt="">
											<h5>
												Flat - Business site
											</h5>
											<div class="overlay">
												<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-xs-4">
									<div class="portfolio-item">
										<div class="item-inner">
											<img class="img-responsive" src="img2/portfolio/recent/item2.png" alt="">
											<h5>
												Flat Theme - Business
											</h5>
											<div class="overlay">
												<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="portfolio-item">
										<div class="item-inner">
											<img class="img-responsive" src="img2/portfolio/recent/item1.png" alt="">
											<h5>
												Nova - Corporate site
											</h5>
											<div class="overlay">
												<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="portfolio-item">
										<div class="item-inner">
											<img class="img-responsive" src="img2/portfolio/recent/item3.png" alt="">
											<h5>
												Fornax - Apps site
											</h5>
											<div class="overlay">
												<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="js2/jquery.js"></script>
<script src="js2/bootstrap.min.js"></script>
<script src="js2/jquery.prettyPhoto.js"></script>
<script src="js2/main.js"></script>
