<header class=" container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html"><img style="max-width:400px;" src="img2/logo.png" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-left lista headerNavBar">
			<li><a ng-click="VLogin0()">Iniciar Sesión</a></li>
            <li><a ng-click="VRegistro1()">Registrarse</a></li>
		</ul>
		</div>
	</div>
</header><!--/header-->

	<section id="features" class="container">
	<div>
		<div class="row row-centered">
		<div class="col-md-4 col-sm-6">
			<div class="media">
			<div class="pull-left logo-features">
				<i class="icon-group icon-md icon-color"></i>
			</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="media">
			<div class="pull-left logo-features">
				<i class="icon-comments icon-md icon-color"></i>
			</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="media">
			<div class="pull-left logo-features">
				<i class="icon-file-text icon-md icon-color"></i>
			</div>
			</div>
		</div>
		<div class="row row-centered ">
		<div class="col-md-4 col-sm-6">
			<div class="media-body">
				<h3 class="media-heading">Haz nuevas amistades</h3>
				<p>Registrate o accede a tu cuenta para encontrar nuevos amigos.</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="media-body">
				<h3 class="media-heading">Chatea</h3>
				<p>Comunicate con tus amigos y con los miembros de los grupos a los que perteneces.</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="media-body">
				<h3 class="media-heading">Participa en foros</h3>
				<p>Crea foros, postea tus opiniones y descubre temas de tu interes.</p>
			</div>
		</div>
		</div>
	</div>
	</section>

	<section>
	<div id="contenidos" class="container">
		<div class="center-column row">
			<div>
				<div id="cloud-color"class="portfolio-item">
					<div id="social-cloud" class="item-inner">
					<img id="cloud" src="img2/social.gif">
					</div>
				</div>
			</div>                            
		</div>
	</div>
	</section>

	<section id="recent-works">
	<div class="container">
		<div class="row">
		<div class="col-md-3">
			<h3>Agrega contenido social a tu pagina</h3>
			<p>Estos son algunos de los sitios web a los cuales hemos agregado social content.</p>
			<div class="btn-group">
			<a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
			<a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
			</div>
			<p class="gap"></p>
		</div>
		<div class="col-md-9">
			<div id="scroller" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
				<div class="row">
					<div class="col-xs-4">
					<div class="portfolio-item">
						<div class="item-inner">
						<img class="img-responsive" src="img2/portfolio/recent/item1.png" alt="">
						<h5>
							Nova - Corporate site
						</h5>
						<div class="overlay">
							<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
						</div>
						</div>
					</div>
					</div>                            
					<div class="col-xs-4">
					<div class="portfolio-item">
						<div class="item-inner">
						<img class="img-responsive" src="img2/portfolio/recent/item3.png" alt="">
						<h5>
							Fornax - Apps site
						</h5>
						<div class="overlay">
							<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
						</div>
						</div>
					</div>
					</div>                            
					<div class="col-xs-4">
					<div class="portfolio-item">
						<div class="item-inner">
						<img class="img-responsive" src="img2/portfolio/recent/item2.png" alt="">
						<h5>
							Flat - Business site
						</h5>
						<div class="overlay">
							<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
						</div>
						</div>
					</div>
					</div>
				</div>
				</div>
				<div class="item">
				<div class="row">
					<div class="col-xs-4">
					<div class="portfolio-item">
						<div class="item-inner">
						<img class="img-responsive" src="img2/portfolio/recent/item2.png" alt="">
						<h5>
							Flat Theme - Business
						</h5>
						<div class="overlay">
							<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
						</div>
						</div>
					</div>
					</div>
					<div class="col-xs-4">
					<div class="portfolio-item">
						<div class="item-inner">
						<img class="img-responsive" src="img2/portfolio/recent/item1.png" alt="">
						<h5>
							Nova - Corporate site
						</h5>
						<div class="overlay">
							<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
						</div>
						</div>
					</div>
					</div>                            
					<div class="col-xs-4">
					<div class="portfolio-item">
						<div class="item-inner">
						<img class="img-responsive" src="img2/portfolio/recent/item3.png" alt="">
						<h5>
							Fornax - Apps site
						</h5>
						<div class="overlay">
							<a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="img2/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
						</div>
						</div>
					</div>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>
	</section>

	<footer id="footer" class="container midnight-blue">
	<div class="container">
		<div class="row">
		<div id="derechos" class="col-sm-6">
			&copy; 2016 <span target="_blank">Synergy. All Rights Reserved. </span>
		</div>
		<div class="icono col-sm-2 hidden-xs">
			<div class="pull-left">
				<i class="icon-twitter icon-md"></i>
			</div>
		</div>
		<div class="icono col-sm-2 hidden-xs">
			<div class="pull-left">
				<i class="icon-facebook icon-md"></i>
			</div>
		</div>
		<div class="icono col-sm-2 hidden-xs">
			<div class="media">
				<div class="pull-left">
					<i class="icon-google-plus icon-md"></i>
				</div>
			</div>
		</div>
		</div>
	</div>
	</footer><!--/#footer-->
	
	<script src="js2/jquery.js"></script>
	<script src="js2/bootstrap.min.js"></script>
	<script src="js2/jquery.prettyPhoto.js"></script>
	<script src="js2/main.js"></script>