<!DOCTYPE html>
<html lang="en">
	<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ng-click="VInicio2()">
					<img style="padding-top:6px;max-width:300px;" src="img2/logo.png" alt="logo">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right lista headerNavBar">
					<li>
						<a ng-click="VInicio0()">Home</a>
					</li>
					<li>
						<a ng-click="VRegistro0()">Registrarse</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<body>
		<div class="container">
			<form id="login" class="form-signin" name="fLoginForm" ng-submit="AIdentificar0(fLoginForm.$valid)" novalidate>
				<center>
					<h2 class="form-signin-heading">
						Conectate
					</h2>
				</center>
				<br>
				<div class="form-group" ng-class="{ 'has-error' :  fLoginSubmitted && fLoginForm.usuario.$invalid && fLoginForm.usuario.$pristine && fLoginSubmitted}">
					<label for="fLogin_usuario" class="sr-only">
						Usuario
					</label>
					<input id="fLogin_usuario" type="text" name="usuario" class="form-control" ng-model="fLogin.usuario"	placeholder="Usuario" required ng-minlength="1"/>
					<p ng-show="fLoginSubmitted && fLoginForm.usuario.$invalid" class="help-block">
						Error en campo Usuario.
					</p>
				</div>
				<div class="form-group" ng-class="{ 'has-error' :  fLoginSubmitted &&                  fLoginForm.clave.$invalid && fLoginForm.clave.$pristine && fLoginSubmitted}">
					<label for="fLogin_clave" class="sr-only">
						Clave
					</label>
					<input id="fLogin_clave" type="password" name="clave" class="form-control" ng-model="fLogin.clave" placeholder="Contraseña" required ng-minlength="1"/>
					<p ng-show="fLoginSubmitted && fLoginForm.clave.$invalid" class="help-block">
						Error en campo Clave.
					</p>
				</div>
				<br>
				<button type="submit" id="conectate" class="btn btn-primary">
					Iniciar sesión
				</button>
			</form>
		</div>
	</body>
</html>