<header class=" container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html"><img style="max-width:400px;" src="img2/logo.png" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right lista headerNavBar">
			<li><a ng-click="APagina1(idUsuario)">Página de usuario</a></li>
            <li><a ng-click="VContactos2(idUsuario)">Contactos</a></li>
            <li><a ng-click="VForos()">Foros</a></li>
            <li><a ng-click="VLogin1()">Salir</a></li>
		</ul>
		</div>
	</div>
</header><!--/header-->

	<footer id="footer" class="navbar-fixed-bottom container midnight-blue">
	<div class="container">
		<div class="row">
		<div id="derechos" class="col-sm-6">
			&copy; 2016 <span target="_blank">Synergy. All Rights Reserved. </span>
		</div>
		<div class="icono col-sm-2 hidden-xs">
			<div class="pull-left">
				<i class="icon-twitter icon-md"></i>
			</div>
		</div>
		<div class="icono col-sm-2 hidden-xs">
			<div class="pull-left">
				<i class="icon-facebook icon-md"></i>
			</div>
		</div>
		<div class="icono col-sm-2 hidden-xs">
			<div class="media">
				<div class="pull-left">
					<i class="icon-google-plus icon-md"></i>
				</div>
			</div>
		</div>
		</div>
	</div>
	</footer><!--/#footer-->
	
	<script src="js2/jquery.js"></script>
	<script src="js2/bootstrap.min.js"></script>
	<script src="js2/jquery.prettyPhoto.js"></script>
	<script src="js2/main.js"></script>