<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" ng-click="VInicio2()">
					<img style="padding-top:6px;max-width:300px;" 
						 src="img2/logo.png" 
						 alt="logo"
						 ng-click="VInicio()">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<div>
					<ul class="nav navbar-nav navbar-right lista headerNavBar">
                        <li>
        					<a ng-click="VForos()">
                                Foros
                            </a>
        				</li>
						<li>
							<a ng-click="VContactos(idUsuario)" ng-show='idUsuario'>
								Contactos
							</a>
						</li>
						<li>
							<a ng-click="VLogin()" ng-show='!idUsuario'>
								Iniciar sesión
							</a>
						</li>
						<li> 
							<a ng-click="VRegistro()" ng-show='!idUsuario'>Registrarse</a>
						</li>
						<li ng-show="idUsuario" id="user">
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<span ng-bind="idUsuario">
									</span>
									<i class="icon-chevron-down">
									</i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a style="color:#3B3F44" ng-click="VMiPagina(idUsuario)">
											Perfil
										</a>
									</li>			
									<li>
										<a style="color:#3B3F44" ng-click="ASalir(idUsuario)">
											Cerrar sesión
										</a>
									</li>
								</ul>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
</header>

<script>
$('.dropdown-toggle').dropdown()
</script>
<div id="pag-coment" class="container">
<div class="row">
  <div class="col-sm-8">

  	<div class="panel panel-default">
  		<div class="panel-heading">
  		
  		  	<table>
  		  		<tr>
  		  			<td><h4 class="panel-heading">Páginas</h></td>
  		  			<td>
  			         	<div id="imaginary_container"> 
  			                <div id="buscador" class="input-group stylish-input-group">
  			                    <input ng-model="query" class="form-control" placeholder="Buscar páginas">
  			                    <span class="input-group-addon">
  			                        <button type="submit">
  			                            <span class="glyphicon glyphicon-search"></span>
  			                        </button>  
  			                    </span>
  			                </div>
  			            </div>
  		        	</td>
  		  		</tr>
  		  	</table>
  		  </div>
  		  <div class="panel-body">
  			<ul class="pags">
  			    <ul  ng-repeat="pag in paginas | filter:query">
  			          
  			          <a ng-if= "pag.id != principal" ng-click="VSecundaria(pag.id)">{{pag.titulo}}</a>
  			    </ul>
  			</ul>
  		  </div>
  	</div>
  </div>
  <div class="col-sm-4">
 
  			<div class="panel panel-default">
  			  <div class="panel-heading">
  			    <h4>Comentarios</h4>
  			  </div>
  			  <div class="panel-body">
  				        <div ng-if="!comentarios">
  				            <button ng-click="mostrarComentarios(pag.hilo)" class="btn btn-perso btn-lg btn-block">
  				                Ver comentarios
  				            </button>
  				        </div>
  				        <div ng-if="comentarios" class="well">
  				            <h4>Comentarios:</h4>
  				            <ul>
  				                <li ng-repeat="publicacion in publicacion.hijos" ng-include="'tree_item_renderer.html'"></li>
  				            </ul>
  				            <div ng-include="'responder_Publicacion.html'"></div>
  				    </div>
  			  </div>
  			</div>
  </div>
</div>

<!-- Templates -->
<script type="text/ng-template"  id="tree_item_renderer.html">
    <h4>{{publicacion.autor}} 
        <span ng-click="colapsar(publicacion.id)" id="{{'boton' + publicacion.id }}">[-]</span>
    </h4>
    <div id="{{'publicacion' + publicacion.id}}">
        <p>{{publicacion.contenido}}</p>
        <button ng-click="AElimPublicacion1(publicacion.id)" ng-show="!publicacion.eliminada && publicacion.autor == idUsuario">Eliminar</button>
        <button ng-show="idUsuario" ng-click="responderPublicacion(publicacion)" ng-show="!publicacion.eliminada">Responder</button>
        <ul>
            <li ng-repeat="publicacion in publicacion.hijos" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="responder_Publicacion.html">
    <form ng-show="idUsuario" name="fpublicacionForm" ng-submit="AgregPublicacion3(fpublicacionForm.$valid, publicacion.id)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : fpublicacionFormSubmitted && fpublicacionForm.texto.$invalid && fpublicacionForm.texto.$pristine && fpublicacionSubmitted}">
        <label for="fpublicacion_texto">
            Tu comentario:
        </label>
        <textarea  type="text" id="fpublicacion_texto" name="texto" class="form-control" ng-model="fpublicacion.texto" placeholder="Texto" required>
            
        </textarea >
        <p ng-show="error && fpublicacionForm.texto.$invalid" class="help-block">
            Error en campo Texto.
        </p>
    </div>
    <button type="submit" class="btn btn-perso btn-lg btn-block">
        <span class="glyphicon glyphicon-pencil"></span> Enviar
    </button>
</form>
</script>

<script type="text/ng-template" id="ayuda_VPrincipal.html">
Manual
</script>

<div id="right"></div>
