<!DOCTYPE html>
<html lang="en">
	<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ng-click="VInicio2()">
					<img style="padding-top:6px;max-width:300px;" src="img2/logo.png" alt="logo">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right lista headerNavBar">
					<li>
						<a ng-click="VInicio2()">Home</a>
					</li>
					<li>
						<a ng-click="VLogin2()">Iniciar Sesión</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<section>
		<div class="container" id="formRegistro">
			<form id="registro" class="form-signin" name="fUsuarioForm" ng-submit="ARegistrar0(fUsuarioForm.$valid)" align="middle" novalidate>
				<center>
					<h2 class="form-signin-heading" style="text-align:center;">
						Regístrate
					</h2></center><br>
					<div class="form-group" ng-class="{ 'has-error' :  fUsuarioSubmitted && fUsuarioForm.nombre.$invalid && fUsuarioForm.nombre.$pristine && fUsuarioSubmitted}">
						<input id="fUsuario_nombre" type="text" name="nombre" class="form-control" ng-model="fUsuario.nombre" placeholder="Nombre completo" required ng-maxlength="50"/>
						<p ng-show="fUsuarioSubmitted && fUsuarioForm.nombre.$invalid" class="help-block">
							Error en campo Nombre completo.
						</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error' :  fUsuarioSubmitted && fUsuarioForm.usuario.$invalid && fUsuarioForm.usuario.$pristine && fUsuarioSubmitted}">
						<input id="fUsuario_usuario" type="text" name="usuario" class="form-control" ng-model="fUsuario.usuario" placeholder="Usuario" required ng-maxlength="15"/>
						<p ng-show="fUsuarioSubmitted && fUsuarioForm.usuario.$invalid" class="help-block">
							Error en campo usuario.
						</p>
					</div>
						<div class="form-group" ng-class="{ 'has-error' :  fUsuarioSubmitted && fUsuarioForm.clave.$invalid && fUsuarioForm.clave.$pristine && fUsuarioSubmitted}">
							<input id="fUsuario_clave" type="password" name="clave" class="form-control" ng-model="fUsuario.clave" placeholder="Contraseña" required ng-minlength="8" ng-maxlength="16"/>
							<p ng-show="fUsuarioSubmitted && fUsuarioForm.clave.$invalid" class="help-block">
								Error en campo Clave.
							</p>
					</div>
						<div class="form-group" ng-class="{ 'has-error' :  fUsuarioSubmitted && fUsuarioForm.clave2.$invalid && fUsuarioForm.clave2.$pristine && fUsuarioSubmitted}">
						<input id="fUsuario_clave2" type="password" name="clave2" class="form-control" ng-model="fUsuario.clave2" placeholder="Repita la clave" required same-as="fUsuario.clave"/>
						<p ng-show="fUsuarioSubmitted && fUsuarioForm.clave2.$invalid" class="help-block">
							Error en campo Repita la clave.
						</p>
					</div>
						<div class="form-group" ng-class="{ 'has-error' :  fUsuarioSubmitted && fUsuarioForm.correo.$invalid && fUsuarioForm.correo.$pristine && fUsuarioSubmitted}"><input id="fUsuario_correo" type="email" name="correo" class="form-control" ng-model="fUsuario.correo" placeholder="Correo" required/><p ng-show="fUsuarioSubmitted && fUsuarioForm.correo.$invalid" class="help-block">Error en campo Correo.</p></div><br>
					<button type="submit" id="botonRegistro" class="btn btn-primary">
							Registrarse
					</button>
			</form>
		</div>
	</section>
</html>