<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse"
            data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" > Hola {{idUsuario}}</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
                <li><a ng-click="APagina1(idUsuario)">Página de usuario</a></li>
                <li><a ng-click="VContactos2(idUsuario)">Contactos</a></li>
                <li><a ng-click="VForos()">Foros</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text" ng-show="idUsuario" ng-bind="idUsuario"></li>
                <li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                <li><a ng-click="VPrincipal0()">Regresar</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row" >
  <div class="col-md-6">{{pag.contenido}}</div>
  <div class="col-md-6"><img ng-src="{{pag.imagenes}}"></a></div>
</div>

<div ng-if="!comentarios">
    <div class="row">
        <div class="col-md-6">
            <button ng-click="mostrarComentarios(pag.hilo)" class="btn btn-perso btn-lg btn-block">
                Ver comentarios
            </button>
        </div>
    </div>
</div>
            

<div id="right"></div>
