<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >{{titulo}}</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VPagina2(idUsuario)"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
  Modificar</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>
<li><a ng-click="VPrincipal1()"
       ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

<div ng-bind-html="contenido"></div>



<div id="right"></div><script type="text/ng-template" id="ayuda_VMiPagina.html">
manual...<br><div ng-bind-html="contenido"></div>

</script>