<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >{{idForo}}</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VForos1()">
    Regresar</a></li>
            </ul>
        </div>
    </div>
</nav>


       <table ng-table="tableParams1" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Titulo'" style='text-align : center'>
                    <a href="" ng-click="VHilo0(row['id'])">{{row["titulo"]}}</a>
                </td>
                <td data-title="'Fecha'" ng-bind="row['fecha']" style='text-align : center'></td>
                <td data-title="'Autor'" ng-bind="row['autor']" style='text-align : center'></td>
                <td><a ng-show="row['autor']==usuario.nombre" ng-click="AElimHilo1(row['id'])">Eliminar</a></td>
            </tr>
        </table>

        <hr />

        <form name="fHiloForm" ng-submit="AgregHilo3(fHiloForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fHiloSubmitted && fHiloForm.titulo.$invalid && fHiloForm.titulo.$pristine && fHiloSubmitted}">
                <label for="fHilo_titulo">
                    Título del Hilo
                </label>
                <input type="text" id="fHilo_titulo" name="titulo" class="form-control" ng-model="fHilo.titulo" placeholder="Título" required>

                </input>
                <p ng-show="fHiloSubmitted && fHiloForm.titulo.$invalid" class="help-block">
                    Error en campo Título.
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' :  fHiloSubmitted && fhiloForm.contenido.$invalid && fHiloForm.contenido.$pristine && fHiloSubmitted}">
                <label for="fHilo_contenido">
                    Contenido
                </label>
                <textarea id="fHilo_contenido" name="contenido" class="form-control" ng-model="fHilo.contenido" placeholder="Contenido" required></textarea>
                <p ng-show="fHiloSubmitted && fHiloForm.contenido.$invalid" class="help-block">
                    Error en campo Contenido.
                </p>
            </div>
            <button type="submit" class="btn btn-perso btn-lg btn-block">
                <span class="glyphicon glyphicon-flash"></span>Crear Hilo
            </button>
        </form>

        <hr />

<div id="right"></div>
