<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Foros</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>
<li><a ng-click="VPrincipal0()">
    Regresar</a></li>
            </ul>
        </div>
    </div>
</nav>

    
       <table ng-table="tableParams1" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Titulo'" >
                    <a href="" ng-click="VForo0(row['titulo'])">{{row["titulo"]}}</a>
                </td>
                <td data-title="'Fecha'" ng-bind="row['fecha']"></td>
                <td><a ng-click="AElimForo1(row['titulo'])">Eliminar</a></td>
            </tr>
        </table>
        
        <hr />
        
        <form name="fForoForm" ng-submit="AgregForo3(fForoForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fForoSubmitted && fForoForm.texto.$invalid && fForoForm.texto.$pristine && fForoSubmitted}">
                <label for="fForo_texto">
                    Título del Foro
                </label>
                <input type="text" id="fForo_texto" name="texto" class="form-control" ng-model="fForo.texto" placeholder="Texto" required>
                    
                </input>
                <p ng-show="fForoSubmitted && fForoForm.texto.$invalid" class="help-block">
                    Error en campo Texto.
                </p>
            </div>
            <button type="submit" class="btn btn-perso btn-lg btn-block">
                <span class="glyphicon glyphicon-flash"></span>Crear Foro
            </button>
        </form>
        
        <hr />

<div id="right"></div><script type="text/ng-template" id="ayuda_VAdminContactos.html">


</script>