<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" ng-click="VInicio2()">
					<img style="padding-top:6px;max-width:300px;" 
						 src="img2/logo.png" 
						 alt="logo"
						 ng-click="VInicio()">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<div>
					<ul class="nav navbar-nav navbar-right lista headerNavBar">
                        <li>
							<a ng-click="VPrincipal()">
								Páginas
							</a>
						</li>
						<li>
							<a ng-click="VContactos(idUsuario)" ng-show='idUsuario'>
								Contactos
							</a>
						</li>
						<li>
							<a ng-click="VLogin()" ng-show='!idUsuario'>
								Iniciar sesión
							</a>
						</li>
						<li> 
							<a ng-click="VRegistro()" ng-show='!idUsuario'>Registrarse</a>
						</li>
						<li>
							<a ng-click="__ayuda()" ng-show='!idUsuario'> 
								<span class="glyphicon glyphicon-info-sign"></span>
							</a> 
						</li>
						<li ng-show="idUsuario" id="user">
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<span ng-bind="idUsuario">
									</span>
									<i class="icon-chevron-down">
									</i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a style="color:#3B3F44" ng-click="VMiPagina(idUsuario)">
											Perfil
										</a>
									</li>			
									<li>
										<a style="color:#3B3F44" ng-click="ASalir(idUsuario)">
											Cerrar sesión
										</a>
									</li>
									<li>
										<a style="color:#3B3F44" ng-click="__ayuda()">
											Ayuda
										</a>
									</li>
								</ul>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</header>
<script>
$('.dropdown-toggle').dropdown()
</script>

<a id="config" class="btn btn-primary" ng-show="idUsuario" ng-click="AbrirForm()">
    <span class="glyphicon glyphicon-plus"></span>Agregar Foro
</a>
<br>

       <table ng-table="tableParams1" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Titulo'" style='text-align : center' >
                    <a href="" ng-click="VForo0(row['titulo'])">{{row["titulo"]}}</a>
                </td>
                <td data-title="'Fecha'" ng-bind="row['fecha']" style='text-align : center'></td>
                <td data-title="'Creador'" ng-bind="row['autor']" style='text-align : center'></td>
                <td><a ng-click="AElimForo1(row['titulo'])" ng-show="row['autor']==idUsuario">Eliminar</a></td>
            </tr>
        </table>
        
        <div ng-show="openForm">
            <div class="container" id="formForos">
                <form id="foros" class="form-signin" ng-show="idUsuario" name="fForoForm" ng-submit="AgregForo3(fForoForm.$valid)" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' :  fForoSubmitted && fForoForm.texto.$invalid && fForoForm.texto.$pristine && fForoSubmitted}">
                        <label for="fForo_texto">
                            Título del Foro
                        </label>
                        <input type="text" id="fForo_texto" name="texto" class="form-control" ng-model="fForo.texto" placeholder="Texto" required>
                            
                        </input>
                        <p ng-show="fForoSubmitted && fForoForm.texto.$invalid" class="help-block">
                            Error en campo Texto.
                        </p>
                    </div>
                    <button type="submit" id="btnForos" class="btn btn-primary">
                        <span class="glyphicon glyphicon-flash"></span>Crear Foro
                    </button>
                </form>
            </div>
        </div>
        
<script type="text/ng-template" id="ayuda_VForos.html">

<div style="text-align: center;"><b>Manual</b></div><div><br/></div>En esta vista podrá ver todos los foros que han sido creados en Social FL con su respectivo dueño.<div><br/></div><div>Los usuarios registrados en Social FL tendrán permitido crear un nuevo foro y eliminar aquellos que hayan sido creados por ellos mismos. Para ello, deberán hacer lo siguiente: </div><div><div><br/></div><div><ul><li><span>En caso de que desee crear un foro, deberá presionar el botón de <b>Agregar Foro</b> e ingresar el nombre del mismo en el campo <b>Título del Foro</b> que aparecerá en la parte inferior de la lista de foros actuales y presionar el botón <b>Crear Foro</b>. Recuerde que no debe crear un nuevo foro con el mismo nombre de uno existente.</span></li></ul></div><div><br/></div><div><ul><li>Para eliminar un foro que haya creado, debe presionar el botón <b>Eliminar</b> que aparecerá al lado de su nombre en los foros de los cuales usted sea el creador.</li></ul></div></div>

</script>

<div id="right"></div>
