<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" ng-click="VInicio2()">
					<img style="padding-top:6px;max-width:300px;" 
						 src="img2/logo.png" 
						 alt="logo"
						 ng-click="VInicio()">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<div>
					<ul class="nav navbar-nav navbar-right lista headerNavBar">
						<li>
							<a ng-click="VMiPagina0(idUsuario)" ng-show='idUsuario'>
								Perfil
							</a>
						</li>
                        <li>
        					<a ng-click="VForos()">
                                Foros
                            </a>
        				</li>
                        <li>
							<a ng-click="VPrincipal0()">
								Páginas
							</a>
						</li>
						<li>
							<a ng-click="VContactos2(idUsuario)" ng-show='idUsuario'>
								Contactos
							</a>
						</li>
						<li>
							<a ng-click="VLogin0()" ng-show='!idUsuario'>
								Iniciar sesión
							</a>
						</li>
						<li> 
							<a ng-click="VRegistro0()" ng-show='!idUsuario'>Registrarse</a>
						</li>
						<li>
							<a ng-click="__ayuda()" ng-show='!idUsuario'> 
								<span class="glyphicon glyphicon-info-sign"></span>
							</a> 
						</li>
						<li ng-show="idUsuario" id="user">
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<span ng-bind="idUsuario">
									</span>
									<i class="icon-chevron-down">
									</i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a style="color:#3B3F44" ng-click="__ayuda()">
										    Ayuda
										</a>
									</li>
									
									<li>
										<a style="color:#3B3F44" ng-click="ASalir(idUsuario)">
											Cerrar sesión
										</a>
									</li>
								</ul>
							</li>
							</div>
						</li>
					</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
</header>

<script>
$('.dropdown-toggle').dropdown()
</script>


       <table ng-table="tableParams1" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Titulo'" style='text-align : center'>
                    <a href="" ng-click="VHilo0(row['id'])">{{row["titulo"]}}</a>
                </td>
                <td data-title="'Fecha'" ng-bind="row['fecha']" style='text-align : center'></td>
                <td data-title="'Autor'" ng-bind="row['autor']" style='text-align : center'></td>
                <td><a ng-show="row['autor']==idUsuario" ng-click="AElimHilo1(row['id'])">Eliminar</a></td>
            </tr>
        </table>

        <hr />

        <form ng-show="idUsuario" name="fHiloForm" ng-submit="AgregHilo3(fHiloForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fHiloSubmitted && fHiloForm.titulo.$invalid && fHiloForm.titulo.$pristine && fHiloSubmitted}">
                <label for="fHilo_titulo">
                    Título del Hilo
                </label>
                <input type="text" id="fHilo_titulo" name="titulo" class="form-control" ng-model="fHilo.titulo" placeholder="Título" required>

                </input>
                <p ng-show="fHiloSubmitted && fHiloForm.titulo.$invalid" class="help-block">
                    Error en campo Título.
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' :  fHiloSubmitted && fhiloForm.contenido.$invalid && fHiloForm.contenido.$pristine && fHiloSubmitted}">
                <label for="fHilo_contenido">
                    Contenido
                </label>
                <textarea id="fHilo_contenido" name="contenido" class="form-control" ng-model="fHilo.contenido" placeholder="Contenido" required></textarea>
                <p ng-show="fHiloSubmitted && fHiloForm.contenido.$invalid" class="help-block">
                    Error en campo Contenido.
                </p>
            </div>
            <button type="submit" class="btn btn-perso btn-lg btn-block">
                <span class="glyphicon glyphicon-flash"></span>Crear Hilo
            </button>
        </form>

        <hr />


<div id="right"></div>

<script type="text/ng-template" id="ayuda_VForo.html">
<div style="text-align: center;"><span><b>Manual:</b></span></div>
</script>
