<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="VInicio2()">
                    <img style="padding-top:6px;max-width:300px;" src="img2/logo.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <div>
                    <ul class="nav navbar-nav navbar-right lista headerNavBar">
                        <li>
                            <a ng-click="VMiPagina0(idUsuario)">
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a ng-click="VContactos2(idUsuario)">
                                Contactos
                            </a>
                        </li>
                        <li>
                            <a ng-click="VForos()">
                                Foros
                            </a>
                        </li>
    
                        <li id="user">
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <span ng-show="usuario.nombre" ng-bind="idUsuario">
                                    </span>
                                    <i class="icon-chevron-down">
                                    </i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a style="color:#3B3F44" ng-click="__ayuda()">
                                            <span class="glyphicon glyphicon-info-sign"></span>Ayuda
                                        </a>
                                    </li>
                                    <li>
                                        <a style="color:#3B3F44" ng-click="VPrincipal0()"><!--Usar una clase para el color-->
                                            Regresar
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a style="color:#3B3F44" ng-click="ASalir(idUsuario)">
                                            Salir
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</header>
<script>
$('.dropdown-toggle').dropdown()
</script>

       <table ng-table="tableParams1" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Titulo'" style='text-align : center' >
                    <a href="" ng-click="VForo0(row['titulo'])">{{row["titulo"]}}</a>
                </td>
                <td data-title="'Fecha'" ng-bind="row['fecha']" style='text-align : center'></td>
                <td data-title="'Creador'" ng-bind="row['autor']" style='text-align : center'></td>
                <td><a ng-click="AElimForo1(row['titulo'])" ng-show="row['autor']==idUsuario">Eliminar</a></td>
            </tr>
        </table>
        
        <hr />
        
        <form ng-show="idUsuario" name="fForoForm" ng-submit="AgregForo3(fForoForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fForoSubmitted && fForoForm.texto.$invalid && fForoForm.texto.$pristine && fForoSubmitted}">
                <label for="fForo_texto">
                    Título del Foro
                </label>
                <input type="text" id="fForo_texto" name="texto" class="form-control" ng-model="fForo.texto" placeholder="Texto" required>
                    
                </input>
                <p ng-show="fForoSubmitted && fForoForm.texto.$invalid" class="help-block">
                    Error en campo Texto.
                </p>
            </div>
            <button type="submit" class="btn btn-perso btn-lg btn-block">
                <span class="glyphicon glyphicon-flash"></span>Crear Foro
            </button>
        </form>
        
        <hr />

<script type="text/ng-template" id="ayuda_VForos.html">
Manual
</script>

<div id="right"></div>
