<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Hilo: {{titulo}}</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VForo1()">
    Regresar</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1> {{respuesta}} </h1>

<table ng-table="tableParams1" template-pagination="pager.html" class="table">
    <tr ng-repeat="row in publicaciones">
        <td data-title="'Titulo'" >
            <p>{{row["titulo"]}}</p>
        </td>
        <td><a ng-click="AElimPublicacion(row['id'])">Eliminar</a></td>
    </tr>
</table>

<div id="right"></div>
