<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="VInicio2()">
                    <img 
                        style="padding-top:6px;max-width:300px;" 
                        src="img2/logo.png" 
                        alt="logo"
                        ng-click="AInicio()">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <div>
                    <ul class="nav navbar-nav navbar-right lista headerNavBar">
                        <li>
							<a ng-click="VMiPagina0(idUsuario)" ng-show='idUsuario'>
								Perfil
							</a>
						</li>
						<li>
							<a ng-click="VContactos2(idUsuario)" ng-show='idUsuario'>
								Contactos
							</a>
						</li>
						<li>
							<a ng-click="VForos()">
								Foros
							</a>
						</li>
						<li>
							<a ng-click="VLogin()" ng-show='!idUsuario'>
								Iniciar sesión
							</a>
						</li>
						<li> 
							<a ng-click="VRegistro()" ng-show='!idUsuario'>Registrarse</a>
						</li>
						<li>
							<a ng-click="__ayuda()" ng-show='!idUsuario'> 
								<span class="glyphicon glyphicon-info-sign"></span>
							</a> 
						</li>
						<li ng-show="idUsuario" id="user">
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<span ng-bind="idUsuario">
									</span>
									<i class="icon-chevron-down">
									</i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a style="color:#3B3F44" ng-click="__ayuda()">
										    Ayuda
										</a>
									</li>
									
									<li>
										<a style="color:#3B3F44" ng-click="ASalir(idUsuario)">
											Cerrar sesión
										</a>
									</li>
								</ul>
							</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</header>

<script>
$('.dropdown-toggle').dropdown()
</script>

<a id="config" class="btn btn-primary" ng-click="AgregGrupo4(idUsuario)">
    <span class="glyphicon glyphicon-plus"></span>Agregar Grupo
</a>
        <table ng-table="tableParams1" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Nombre'" ng-bind="row['nombre']"></td>
                <td data-title="'Tipo'" ng-bind="row['tipo']"></td>
                <td ng-show="row['idContacto']"><a ng-click="AElimContacto1(row['idContacto'])">Eliminar</a></td>
            </tr>
        </table>

<hr />        <table ng-table="tableParams2" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Nombre'" ng-bind="row['nombre']"></td>
                <td data-title="'Tipo'" ng-bind="row['tipo']"></td>
                <td ng-show="row['idContacto']"><a ng-show="actor=='desarrollador' || actor=='duenoProducto' || actor=='maestroScrum' || false" ng-click="VGrupo2(row['idContacto'])">Modificar grupo</a></td>
            </tr>
        </table>

<hr />    <form name="fContactoForm" ng-submit="AgregContacto3(fContactoForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fContactoSubmitted && fContactoForm.nombre.$invalid && fContactoForm.nombre.$pristine && fContactoSubmitted}"><label for="fContacto_nombre">Nombre</label>:&nbsp;<select id="fContacto_nombre" ng-model="fContacto.nombre" required ng-options="item.key as item.value for item in fContacto_opcionesNombre"></select><p ng-show="fContactoSubmitted && fContactoForm.nombre.$invalid" class="help-block">Error en campo Nombre.</p></div>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Agregar contacto
        </button>
    </form>
    <hr />


<div id="right"></div><script type="text/ng-template" id="ayuda_VAdminContactos.html">

<div style="text-align: center;"><span><b>Manual:</b></span></div>
<p style="text-align: left;">En la vista actual se encuentran las siguientes opciones:</span></p>
<p style="text-align: left;"></p>
<ul>
<li>Eliminar: Se elimina de la lista de contactos a la persona correspondiente.</li>
<li>Modificar Grupo: Se va a la página del grupo correspondiente, en la cual se puede modificar el grupo.</li>
<li>Agregar Contacto: Se agrega a los contactos a la persona seleccionada en la barra.</li>
</ul>

</script>
