<header class="container navbar navbar-inverse navbar-fixed-top carrot" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="VInicio2()">
                    <img style="padding-top:6px;max-width:300px;" src="img2/logo.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <div>
                    <ul class="nav navbar-nav navbar-right lista headerNavBar">
                        <li>
                            <a ng-click="VMiPagina0(idUsuario)">
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a ng-click="VContactos2(idUsuario)">
                                Contactos
                            </a>
                        </li>
                        <li>
                            <a ng-click="VForos()">
                                Foros
                            </a>
                        </li>
    
                        <li id="user">
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <span ng-show="usuario.nombre" ng-bind="usuario.nombre">
                                    </span>
                                    <i class="icon-chevron-down">
                                    </i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a style="color:#3B3F44" ng-click="__ayuda()">
                                            <span class="glyphicon glyphicon-info-sign"></span>  Ayuda
                                        </a>
                                    </li>                                    
                                    <li>
                                        <a style="color:#3B3F44" ng-click="VLogin1()">
                                            Salir
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</header>

<script>
$('.dropdown-toggle').dropdown()
</script>

<a id="config" class="btn btn-primary" ng-click="ASalirGrupo1()">
    <span class="glyphicon glyphicon-log-out"></span>  Salirme del grupo
</a>

    <form name="fMiembroForm" ng-submit="AgregMiembro0(fMiembroForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fMiembroSubmitted && fMiembroForm.nombre.$invalid && fMiembroForm.nombre.$pristine && fMiembroSubmitted}"><label for="fMiembro_nombre">Nombre</label>:&nbsp;<select id="fMiembro_nombre" ng-model="fMiembro.nombre" required ng-options="item.value as item.value for item in fMiembro_opcionesNombre"></select><p ng-show="fMiembroSubmitted && fMiembroForm.nombre.$invalid" class="help-block">Error en campo Nombre.</p></div>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Agregar
        </button>
    </form>
    <hr />        <table ng-table="tableParams3" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Nombre'" ng-bind="row['nombre']"></td>
                <td ng-show="admin==usuario.nombre"><a ng-click="AElimMiembro3(row['nombre'])">Eliminar</a></td>
            </tr>
        </table>

<hr />


<div id="right"></div><script type="text/ng-template" id="ayuda_VGrupo.html">
<div style="text-align: center;"><span><b>Manual:</b></span></div>
<p style="text-align: left;">En la vista actual se encuentran las siguientes opciones:</span></p>
<p style="text-align: left;"></p>
<ul>
<li>Salirme del grupo: Se sale del grupo, el grupo ya no aparecera en su lisa de contactos.</li>
<li>Agregar: Se agrega al usuario seleccionado al grupo.</li>
<li>Eliminar: Se elimina el miembro seleccionado del grupo.</li>
</ul>
</script>
